version: "3.4"
services:
  api:
    container_name: metaroom
    build:
      context: .
      target: development
    volumes:
      - ./:/usr/src/app
      - /user/node_modules
    ports:
      - "4000:4000"
    env_file: .env.local
    environment:
      - PORT=${PORT}
      - MONGO_URL=${MONGO_URL}
    links:
          - mongo
    depends_on:
      - mongo      
    command: npm run dev
  mongo:
    container_name: mongo
    image: mongo
    restart: always
    volumes:
      - ./data:/data/db
    ports:
      - '27017:27017'  
volumes:
  mongo-data:
    driver: local
